$darker-green: #5fd068;
$lighter-green: #4b8673;
$cream: #f6fbf4;
$tan: #f5df99;

.App {
  width: fit-content;
  min-width: 100vw;
  height: 100vh;
  //min-height: 100vh;
  background-color: rgba(33,33,33,255);
}
